@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Employee;

<h2>Employee Details</h2>
<hr />

<h3>@Html.Label("Hair Stylist:") @Html.DisplayFor(model => model.Name)<h3>
<h3>@Html.Label("Employee ID:") @Html.DisplayFor(model => model.EmployeeId)<h3>

<ul>
@if (@Model.Clients.Count == 0)
{
  <h4 class="mt-4">No clients have been added.</h4>
}
</ul>

@foreach (Client client in @Model.Clients)
{
  <li>@Html.Label("Client: ") @client.Name</li>
}

<h4 class="mt-4">@Html.ActionLink("Add New Client", "Create", "Clients")</h4>
<h4 class="mt-4">@Html.ActionLink("Delete Employee", "Delete", new { id = Model.EmployeeId })</h4>
