@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name, "Name is required", new { @class = "text-danger" }) <br />

    @Html.LabelFor(model => model.Employee)
    @Html.DropDownList("EmployeeId")
    @Html.ValidationMessageFor(model => model.Employee, "Select an employee", new { @class = "text-danger" }) <br />

    <input type="submit" value="Add new client" />
}
<p>@Html.ActionLink("Show all clients", "Index")</p>